body {
    background-color: #333
}

table {
    width: 100%;
    /*font-family: Courier, Mono;*/
}

tr {
    border: 1px #000 solid;
}

td {
    padding:10px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    font-size: 10px;
}

.FuncName {
    width: 100px;
}

.Failed {
    color: #f00;
    text-shadow: 0 0 5px #f00;
    background-color: #722;
    background: -moz-linear-gradient(top, #722, #500) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#722), to(#500)) no-repeat;
}

.Passed {
    color: #0f0;
    text-shadow: 0 0 5px #0f0;
    background-color: #117711;
    background: -moz-linear-gradient(top, #117711, #007700) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#227722), to(#005500)) no-repeat;
}
