<table class="OFPMenuTable">
    <tr class="FirstRow">
        <td><div id="menu_player">PLAYER: xxxxxxxxx xx</div></td>
        <td rowspan="5" class="VerticalLine"/>
        <td><div class="Disabled">CAMPAIGN GAME</div></td>
    </tr>
    <tr>
        <td class="LeftColumn"/>
        <td class="RightColumn">
            <div id="single_mission">SINGLE MISSION</div>
            <div id="multiplayer">MULTIPLAYER</div>
        </td>
    </tr>
    <tr>
        <td colspan="3" class="HorizontalLine"></td>
    </tr>
    <tr>
        <td class="LeftColumn">
            <div class="Disabled">MISSION EDITOR</div>
            <div id="options">OPTIONS</div>
        </td>
        <td class="RightColumn"/>
    </tr>
    <tr>
        <td class="LeftColumn"/>
        <td class="RightColumn"><div class="Disabled">QUIT GAME</div></td>
    </tr>
</table>
