<div class="Multiplayer">

    <table class="MPServers" id="mp_servers_table">
        <colgroup>
            <col width="40%" />
            <col width="30%" />
            <col width="12%" />
            <col width="10%" />
            <col width="7%" />
        </colgroup>
        <tr id="mp_table_header">
            <th>Server</th>
            <th>Mission</th>
            <th>Status</th>
            <th>Players</th>
            <th>Ping</th>
        </tr>
    </table>

    <div>
        <div>Implementation: Sockets</div>
    </div>
</div>
