<div class="OptionsContainer">
    <div id="videoOptions">Video options</div>
    <div id="audioOptions">Audio options</div>
    <div id="controlsOptions">Controls</div>
    <div id="difficultyOptions">Difficulty</div>
</div>
