<div class="Column">
    <div>Player name:</div>
    <input type="text" id="playerNameInput">
    <div id="playerId">Player ID: temporary id</div>
    <canvas id="headCanvas"></canvas>
</div>
<div class="Column" id="leftLaptopColumn">
    <div>Face:</div>
    <select size="3" id="facesSelect"></select>
    <div>Glasses:</div>
    <select size="2" disabled="disabled">
        <option value="none">None</option>
        <option value="Spectacles">Spectacles</option>
    </select>
    <div>Speaker:</div>
    <select size="2" id="voicesSelect"></select>
    <div>Pitch:</div>
    <input type="range" id="pitchInput">
    <div>Squad URL:</div>
    <input type="text" id="playerSquadURL">
</div>
