<div class="NotepadContainer">
    <div class="Notepad">
	    <div class="Paper">
	        <div class="MissionsList" id="missionsList"></div>
	        
	        <div class="Middle"></div>

	        <div class="MissionDescription">
	            <div id="missionDescriptionTitle"></div>
	            <img id="missionDescriptionImage" alt="mission image" src="" />
	            <p id="missionDescriptionDescription"></p>
	        </div>
        </div>
    </div>
</div>
