<div class="SplashScreen">
    <div class="LogoContainer" id="splashScreenLogoContainer">
        <table class="Logo">
            <tr>
                <td rowspan="2" class="Big">H</td><td class="FirstRow">OPERATION</td>
            </tr>
            <tr>
                <td class="SecondRow">TML5POINT</td>
            </tr>
        </table>
    </div>
</div>
