
@font-face {
    font-family: V5PRD;
    src: url("font/V5PRD___.TTF");
}

body {
    background-color: #111;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: V5PRD, sans-serif;
}

/*canvas { background-color: #555 }*/

.Axis {
    position:relative;
    display: inline;
    font-size: 10px;
    background-color: #222
}
.OX { color: #f00; }
.OY { color: #00f; }
.OZ { color: #f80; }

.Topbar {
    height: 40px;
    width: 100%;
    border: #000 1px;
    border-bottom-style: solid;
    /*background: -moz-linear-gradient(top, #000, #222) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#2a2a2a)) no-repeat;
    background-color: #000;*/
    margin: 0 auto;
    color: #00aaff;
    font-size: 40px;
    text-align: center;
    text-shadow: 0 0 22px #00aaff;
}

.FPS {
    color: #333;
    text-shadow: 0 0 22px #333;
    font-size: 32px;
    position: absolute;
    top: 5px;
    right: 8px;
}

.Time {
    position: absolute;
    left: 8px;
}
