/* Fonts */
@font-face {
    font-family: OFP;
    src: url("font/steelfish.ttf");
}

html, body {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: url(cursor.png), default;
    overflow: hidden;
}

body {
    background-color: #000;
}

.MainOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.FullScreenOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100;
}

.Topbar {
    height: 12%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 60px;
    background-color: black;
    display: table;
    position: relative;
    z-index: 1;
}

.MiddleRoot {
    position: relative;
    height: 76%;
}

.Bottombar {
    height: 12%;
    width: 100%;
    min-height: 61px;
    background-color: black;
    display: table;
    position: absolute;
    bottom: 0px;
}

.BottomButtons {
    font-family: OFP, Impact;
    font-size: 40px;
    font-weight: bold;
    color: #eee;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.BottomButtons div {
    display: inline-block;
}

.BottomButtons div:hover {
    text-decoration: underline;
    color: #f00;
}

#leftBottomButton {
    width: 45%;
    text-align: left;
}

#middleBottomButton {
    width: 25%;
}

#rightBottomButton {
    width: 25%;
    text-align: center;
}

.TitleHeader {
    font-family: OFP, Impact;
    font-size: 55px;
    font-weight: bold;
    color: #eee;
    display: table-cell;
    vertical-align: middle;
}

.Version {
    text-align: center;
    color: white;
    opacity: 0.6;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}

.Bottombar .Version {
    vertical-align: middle;
    display: table-cell;
}

.FPS {
    font-family: monospace;
    color: #333;
    font-size: 22px;
    position: absolute;
    top: 5px;
    right: 10px;
}

.OFPMenuTable {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.OFPMenuTable div {
    padding: 0 10px;
    font-family: OFP, Impact;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 8px #bbb;
}

.OFPMenuTable div.Disabled {
    color: #bbb;
}

.OFPMenuTable div:hover {
    text-decoration: underline;
    color: #f00;
    text-shadow: 0 0 4px #f00;
}

.OFPMenuTable div.Disabled:hover {
    color: #bbb;
    text-shadow: 0 0 8px #bbb;
    text-decoration: none;
}

td.LeftColumn {
    vertical-align: top;
    text-align: right;
    width: 70%;
}

.OFPMenuTable .FirstRow {
    text-align: left;
    vertical-align: top;
}

td.RightColumn {
    vertical-align: bottom;
    text-align: left;
}

td.HorizontalLine {
    height: 1px;
    background-color: white;
    padding: 0;
}

td.VerticalLine {
    width: 1px;
    background-color: white;
    padding: 0;
}

.Popup {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;

    padding: 10px 14px;
    background-color: #474747;
    color: #24282b;
    border: 5px ridge #777777;
    max-width: 80%;
    min-width: 200px;
    margin: 200px auto;
    display: inline-block;
    position: relative; /* just to be on top of Screen which has absolute positioning */
}

.Popup div {
    padding: 16px 30px;
    text-align: center;
    background-color: #525655;
    text-align: left;
}

.Popup button {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    padding: 4px;
    margin-top: 8px;
    background-color: #545454;
    border-color: #777777;
}

.Popup button div {
    border: 1px solid #222;
    padding: 4px;
    background-color: #545454;
    color: #222;
    text-align: center;
}

.Credits {
    -webkit-animation: creditsAnimation 40s linear 0s infinite;
    animation: creditsAnimation 40s linear 0s infinite;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    top: 80%;
    width: 100%;

}

.Credits > div {
    font-family: OFP;
    margin: 100px 0px;
}

.Credits .Role {
    font-size: 26px;
}

.Credits .Person {
    font-size: 54px;
}

@-webkit-keyframes creditsAnimation {
    0% {
        top: 100%;
    }
    100% {
        top: -550%;
    }
}

@keyframes creditsAnimation {
    0% {
        top: 100%;
    }
    100% {
        top: -550%;
    }
}
