body {
    font: bold 14px courier;
    text-align: left;
    color: #0E9B0E;
    background-color: #000;
}
img {
    margin: 10px auto;
    display: block;
}
img:hover {
    box-shadow: 0 0 15px #5f5;
}
img.steam {
    margin: 0;
    width: 20px;
    vertical-align: middle;
    display: inline;
}
img.steam:hover {
    box-shadow: none;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    border: 1px solid #0af00a;
}

tbody td {
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

tbody tr:nth-child(odd) {
    background-color: #030F03;
}
th {
    cursor: pointer;
    border: 1px solid #0af00a;
}
td, th {
    border-left: 1px solid #0AF00A;
    max-width: 25%;
    vertical-align: top;
    word-wrap: break-word;
    padding: 4px 8px;
}
th.ColumnNr {
    width: 25px;
}
th.ColumnServer {
    width: 30%;
}
th.ColumnMission {
    width: 30%;
}
th.ColumnStatus {
    width: 70px;
}
th.ColumnPlayers {
    width: 55px;
}
th.ColumnSteam {
    width: 10%;
}
th.ColumnDownload {
    width: 8%;
}
td:first-child {
    text-align: right;
}
td.Red {
    color: red;
}
td.IncompatibleVersion {
    color: #224a21;
    font-size: smaller;
}
td:first-child {
    text-align: right;
}
td.Red {
    color: red;
}
.IP {
    font-size: 10px;
    display: inline;
}
.Credits {
    text-align: center;
    font-size: 11px;
    line-height: 4px;
    padding: 10px;
}
a {
    color: #0F0;
}
a:hover {
    color: #CFC;
}
.Error {
    color: #ff5c26;
}

progress#progressbar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    box-sizing: border-box;
    height: 6px;
    margin: 8px 0px;

    color: #0AF00A;
    border: 1px solid;
    background-color: #053805;
}
progress::-moz-progress-bar {background-color: #0AF00A !important;}
progress::-webkit-progress-value { background: #0AF00A; }
progress::-webkit-progress-bar {background-color: #053805; width: 100%;}

.Chat {
    width: 100%;
    border: 0;
}
