@font-face {
    font-family: OFPLogo;
    src: url("font/CharlieBrownM54.ttf");
}

.LogoContainer {
    padding-top: 8px;
    padding-bottom: 3px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.SplashScreen .LogoContainer {
    opacity: 0;
}

.SplashScreen .LogoContainer.FadeIn {
    opacity: 1;
    transition: opacity 5s ease-in;
}

.SplashScreen .LogoContainer.FadeOut {
    opacity: 0;
    transition: opacity 5s ease-out;
}

table.Logo {
    margin-left:auto;
    margin-right:auto;
    border-spacing: 0;
    margin-bottom: 8px;
    vertical-align: middle;
}

.Logo td {
    font-family: OFPLogo;
    color: #506020;
    text-align: left;
    padding: 0 0 0 4px;
    vertical-align: top;
    letter-spacing: 1px;
}

.Logo td.Big {
    font-size: 61px;
    line-height: 36px;
    letter-spacing: -4px;
}

.SplashScreen .Logo td.Big {
    font-size: 183px;
    line-height: 108px;
    letter-spacing: -8px;
    padding-top: 2px;
}

.Logo td.FirstRow {
    font-size: 12px;
    line-height: 10px;
    vertical-align: middle;

    /* chrome 2+, safari 4+ */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.0,#304015), color-stop(1.0,#000));
    /* chrome 10+, safari 5.1+ */
    background-image: -webkit-linear-gradient(0deg, #304015, #000);
    /* firefox; wielokrotne zatrzymania kolorów */
    background-image: -moz-linear-gradient(0deg, #304015, #000);
}

.SplashScreen .Logo td.FirstRow {
    font-size: 36px;
    line-height: 18px;
    padding-left: 6px;
}

.Logo td.SecondRow {
    font-size: 28px;
    line-height: 18px;
    padding-top: 2px;
}

.SplashScreen .Logo td.SecondRow {
    font-size: 84px;
    line-height: 54px;
    padding-top: 2px;
}

.SplashScreen {
    display: table;
    background-color: black;
    width: 100%;
    height: 100%;
}
