@CHARSET "UTF-8";

.Laptop {
    background-color: #111;

    width: 70%;
    min-width: 750px;
    max-width: 800px;
    max-height: 80%;
    margin: 10px auto 0px auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    padding: 10px;
    overflow-y: auto;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border-width: 50px 117px;
    border-style: solid;
    /* top right bottom left*/
    -moz-border-image: url("ui/laptop.jpg") 84 162 62 162 stretch;
    -webkit-border-image: url("ui/laptop.jpg") 84 162 62 162 stretch;
    border-image: url("ui/laptop.jpg") 84 162 62 162 stretch;

    font-family: courier;
    color: #0af00a;
    font-weight: bold;
}

.Laptop * {
}

.Laptop .Column {
    text-align: left;
    width: 46%;
    padding: 0px 10px;
    display: inline-table;
}

.Laptop div {
    margin-top: 5px;
    margin-bottom: -3px;
}

.Laptop input, .Laptop select {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 2px;
    margin-left: 0;
    border: 1px solid #0af00a;
    width: 100%;
    cursor: inherit;
    -webkit-appearance: none;
}

.Laptop .OptionsContainer div {
    font-size: 40px;
    color: #0aa00a;
    line-height: 78px;
}

.Laptop .OptionsContainer div:hover {
    color: inherit;
}

.Laptop .Multiplayer div {
    /*display: inline;*/
    text-align: left;
}

.Laptop .Multiplayer table.MPServers {
    width: 100%;
    height: 80%;
    table-layout: fixed;
    border: none;
    border-collapse: collapse;
}

.Laptop .Multiplayer table.MPServers tr:FIRST-CHILD {
    height: 10%;
    border-left: none;
    border-right: none;
}

.Laptop .Multiplayer table.MPServers tr {
    color: #0E9B0E;
    text-align: left;
    border: none;
    height: 44px;
    vertical-align: top;
    border-left: 1px solid #0af00a;
    border-right: 1px solid #0af00a;
}

.Laptop .Multiplayer table.MPServers tr.Selected {
    color: #0F0;
    background-color: #09680E;
}

.Laptop .Multiplayer td {
    white-space: nowrap;
    padding-left: 5px;
    overflow: hidden;
}

.Laptop .Multiplayer th {
    border-bottom: 1px solid #0af00a;
}

.Laptop .Multiplayer .MPServers td {
    border-right: 1px solid #0af00a;
    font-size: 14px;
}

.Laptop .Multiplayer .MPServers td.Red {
    color: red;
}

.Laptop .Multiplayer .MPServers td:last-child {
    border-right: 0px none #0af00a;
}

.MultiplayerProgressbarWrapper {
    position: absolute;
    left: 50px;
    bottom: 5px;
}

.MultiplayerProgressbarWrapper img {
    display: block;
}

progress.MultiplayerProgressbar {
    width: 150px;
}
