@CHARSET "UTF-8";

.NotepadContainer {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.Notepad {
    /* vertical center */
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    margin: 0 auto;
    height: 80%;
    width: 80%;
    min-width: 770px;
    max-width: 900px;
    min-height: 400px;
    max-height: 600px;

    /* Notepad cover */
    border: 5px double #505050;
    border-radius: 25px;
    background-color: rgb(99, 99, 99);
    padding: 16px 40px;    
}

.Notepad .Paper {
    height: 100%;
    width: 100%;
    font-family: courier;
    font-weight: bold;
    font-size: 30px;
    background-color: #EEE;
    background-image: url("ui/notepad_net.jpg");
    background-position: 8px 12px;
    padding: 20px 0;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px #222;
}

/* area between missions left 
and right side of the notepad */
.Notepad .Middle {
    background-image: url("ui/notepad_middle.png");
    background-repeat: repeat-y;
    height: calc(100% + 42px);
    display: inline-block;
    width: 5%;
    margin-top: -21px;
}

.Notepad .MissionsList {
    width: 42%;
    height: 100%;
    display: inline-block;
    color: #A39F85;
    vertical-align: top;
    border: 1px solid black;
}

.Notepad .MissionsList div {
    line-height: 50px;
    text-align: left;
    padding: 5px;
}

.Notepad .MissionsList .Selected {
    background-color: rgb(184, 184, 184);
    color: rgb(20, 20, 20);
}

.Notepad .MissionDescription {
    vertical-align: top;
    width: 42%;
    display: inline-block;
}

.MissionDescription #missionDescriptionTitle {
    font-size: 25px;
}

.MissionDescription #missionDescriptionDescription {
    font-size: 18px;
    text-align: left;
}

.MissionDescription img {
    border: 5px solid white;
    box-shadow: 4px 4px 6px #444;
}
